/*

-----------

Note requiring tree (ActiveAdmin) or Scaffolds

-----------

 */

@import "bootswatch/paper/variables";

// Then bootstrap itself
@import "bootstrap";

// Bootstrap body padding for fixed navbar
body { padding-top: 60px; }

// And finally bootswatch style itself
@import "bootswatch/paper/bootswatch";

// Whatever application styles you have go last

@import "font-awesome";
@import "info";
@import "delegate_actions";
/* Global Styles */

$brand_yellow: #FFAD00;
$padding_offset: -100px;

html,
body {
    width: 100%;
    height: 100%;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

.toggle {
    margin: 5px 5px 0 0;
}

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    margin-top: $padding_offset;
    height: 100%;
    background-color: $brand_yellow;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


/* Footer */

footer {
    padding: 100px 0;
}

.navbar{
	margin-top: -60px;
	background: $brand_yellow;
	box-shadow: none;
	
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:99;
}

#overlay img{
	height: 50px;
	width: 50px;
}

.navbar-fixed-top{
    margin-top: 0px;
}
