        <div class="col-lg-12 text-center">
    <h2>FAQ</h2>
      <div class="col-md-4 faq" >
        <ul>
     <li class="active"><a href="#" class="title">Why should I apply?</a>

            <div class="answer">

              <h5 class="description-text">You will get to discover what the startup world is like, while making a real impact, rapidly improving your skills, and making a real impact on the future of the case hosting startups. Plus, the winner gets a $500 grand prize.  
              </h5>
            </div></li>
            <li><a href="#" class="title">What is the time commitment?
            </a>

            <div class="answer">

              <h5 class="description-text">You need to be present Friday evening and all day Saturday and Sunday.
              </h5>
            </div></li>
            <li><a href="#" class="title">What should I bring?
            </a>

            <div class="answer">

              <h5 class="description-text">A laptop to access the case information, do research, produce a slide deck, submit your solution, and evaluate your peers throughout the weekend. Powerpoint/keynote are crucial, and any other software to produce mind maps/graphics/mockups might be a good idea as well.
              </h5>
            </div></li>

            <li><a href="#" class="title">How much is the competition?
            </a>

            <div class="answer">

              <h5 class="description-text">All delegates need to pay a $20 fee and a $30 deposit that will be refunded when you successfully complete the competition. 
              </h5>
            </div></li>

          </ul>
        </div>

        <div class="col-md-4 faq">
          <ul>
            <li class="active"><a href="#" class="title">What kind of companies host cases?
            </a>
            <div class="answer">

              <h5 class="description-text">We look for early stage startups from the local community that have some initial traction and a killer, massively impactful problem for you to solve. We aim for a diversity of companies, from mobile apps to third world education and everything in between.
              </h5>
            </div></li>

            <li class=""><a href="#" class="title">Who can compete?</a>

              <div class="answer">

                <h5 class="description-text">Any UW or Laurier Students can apply to the competition. We care more about your ideas and your passion than your faculty or your age. </h5>

              </div></li>



              <li><a href="#" class="title">What are the cases like?
              </a>

              <div class="answer">

                <h5 class="description-text">You will have three hours to hear the case, work with your team, and present your ideas directly to the startup’s founder/CEO/representative and the rest of the delegates. Each case is important, unique, intense, interesting, and a lot of fun.
                </h5>
              </div></li>

              <li><a href="#" class="title">Can I apply with a team?
              </a>

              <div class="answer">

                <h5 class="description-text">We require that everyone applies as an individual. The teams are randomly selected for each case, and all of the evaluations and prizes are done on an individual basis.
                </h5>
              </div></li>

            </ul>

            </div>

            <div class="col-md-4 faq">
              <ul>
                <li class="active"><a href="#" class="title">What makes UWA special?
                </a>

                <div class="answer">

                  <h5 class="description-text">We go for depth rather than breadth and provide a massive amount of value, support, and exposure for a select group of delegates, and provide a unique opportunity to present solutions directly to startup founders, CEOs and representatives.
                  </h5>
                </div></li>
                <li><a href="#" class="title">What should I wear?
                </a>

                <div class="answer">

                  <h5 class="description-text">Business casual please.
                  </h5>
                </div></li>

                <li><a href="#" class="title">Will there be food?
                </a>

                <div class="answer">

                  <h5 class="description-text">Yes, we will keep you fed throughout the competition, with breakfast, lunch, and dinner whenever appropriate. We will be having some combination of UW Catering, shawarma, Subway, and Williams, and we will do our best to accommodate dietary restrictions.
                  </h5>
                </div></li>

                <li><a href="#" class="title">My question isn’t listed here.
                </a>

                <div class="answer">

                  <h5 class="description-text">Feel free to contact us at uwaterlooapprentice@gmail.com, or give us a shout via Twitter or Facebook. 
                  </h5>
                </div></li>
              </ul>
          </div>
          </div>